@model IEnumerable<QuestionManager.Models.AdminModels.DisplayNames>

@{
    ViewBag.Title = "IF E-Learningシステム";
}

<body>
    <div id="main" class="page">
        <h2>受験した受験者の一覧です。</h2>

        <table>
            <tr>
                <th>
                    受験者
                </th>
            </tr>

            @{
                List<string> input = new List<string>();
                string ID = null;
                foreach (var item in Model)
                {
                    // リストが0だったらユーザー名表示
                    if (input.Count == 0)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.UserNames + "さん", "userSummary", new { userID = item.UserID, userName = item.UserNames, categoryID = ViewData["categoryID"] })
                            </td>
                        </tr>
                        input.Add(item.UserID);
                        ID = item.UserID;
                    }

                    // ユーザー名表示
                    for (int i = 0; i < input.Count; i++)
                    {
                        if (!input.Contains(item.UserID))
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.UserNames + "さん", "userSummary", new { userID = item.UserID, userName = item.UserNames, categoryID = ViewData["categoryID"] })
                                </td>
                            </tr>
                            input.Add(item.UserID);
                        }
                    }
                }
            }
        </table>

        <p>
            @Html.ActionLink("戻る", "/AdminMenu")
        </p>
    </div>
</body>