
@{
    ViewBag.Title = "IF E-Learningシステム";
}


@section Scripts{
    <script src="~/Scripts/jquery-ui-1.10.0.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script src="~/Scripts/i18n/grid.locale-ja.js" type="text/javascript"></script>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        // 表
        jQuery(document).ready(function () {
            var lastsel = null;
            var savedRow = null;
            var savedCol = null;
            $("#list").jqGrid({
                url: '/Admin/GetUser',
                editurl: '/Admin/SaveUser',
                cellurl: '/Admin/SaveUser',
                datatype: 'json',
                mtype: 'GET',
                colNames: ['ID', 'ユーザーID', 'メールアドレス', '表示名', '管理者', '凍結'],
                colModel: [
                    { name: 'Sid', width: 50, sorttype: 'float' },
                    { name: 'ID', editable: true, hidden: true },
                    { name: 'Mail', width: 350, editable: true, editrules: { required: true, email: true }, editoptions: { maxlength: 256 } },
                    { name: 'Name', editable: true, required: true, editrules: { required: true }, editoptions: { maxlength: 30 } },
                    { name: 'Admin', width: 60, editable: true, formatter: "checkbox", edittype: "checkbox", editoptions: { value: "true:false" } },
                    { name: 'IsLocked', width: 50, editable: true, formatter: "checkbox", edittype: "checkbox", editoptions: { value: "true:false" } }
                ],
                cellEdit: true,
                hidegrid: false,
                jsonReader: {
                    root: "Rows",
                    page: "Page",
                    total: "Total",
                    records: "Records",
                    repeatitems: false,
                    cell: "UserPrifile",
                    id: "ID",
                    userdata: "userdata"
                },
                multiselect: true,
                height: '300px',
                loadonce: true,
                sortable: true,
                scroll: true,
                pager: "#pager",
                pgbuttons: false,
                caption: 'ユーザー情報',
                errorCell: function (data) {
                    alert(data.responseText);
                }
            });

            // 表下のボタン
            $('#list').jqGrid('navGrid', '#pager', { refresh: false, edit: false, add: false })
                // 追加ボタン
                .navButtonAdd('#pager', {
                    caption: "",
                    buttonicon: 'ui-icon-plus',
                    onClickButton: function () {
                        // 凍結設定は表示しない
                        $("#list").setColProp('IsLocked', { editable: false });
                        $("#list").jqGrid('editGridRow', "new", {
                            height: 'auto',
                            modal: true, // モーダル表示にします。
                            addCaption: "追加", // フォームのキャプションを設定
                            bSubmit: "保存", // フォーム内に表示する確定ボタンのキャプション
                            bCancel: "キャンセル", // フォーム内に表示する取消ボタンのキャプション
                            errorTextFormat: function (data) {
                                return data.responseText;
                            },
                            closeAfterAdd: true,
                            afterSubmit: function () {
                                $(this).jqGrid('setGridParam', { datatype: 'json' });
                                return [true, '', false]; // no error and no new rowid
                            }
                        });
                    }
                });
        });
    </script>
}

<body>
    <div id="main" class="page">
        *初期パスワードは"password"です。
        <table id="list"></table>
        <div id="pager"></div>
    </div>
</body>

