
@{
    ViewBag.Title = "CSVファイルで問題追加";
}

<h2>CSVファイルで問題を追加する</h2>

@using (Html.BeginForm("InsertQuestion", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>アップロードファイル選択</td>
            <td>
                <input type="file" name="uploadFile" />
            </td>
        </tr>
        <tr>
            <td>アップロード実行</td>
            <td>
                ・文字コードはShift-JIS<br />
                ・カンマ区切り<br />
                ・課題名の途中改行禁止<br />
                ・一行目は項目名「カテゴリ名,課題名,問題,正解」<br />
                ・正解が複数ある場合、「;」で区切る<br />
                ・<a href="/Content/template.csv">template.csv</a><br />
                ・存在しない課題名を指定した場合は新しく課題名を追加<br />
                ・問題が設定数以上ない場合、受験者にはその課題を表示しない<br />
                ・最後の確認テストは、出題されている問題全てを自動的に表示する。<br />
                <input type="submit" value="アップロード" />
            </td>
        </tr>
    </table>
}
<h3>@ViewData["message"]</h3>


