<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>パスワードの変更</title>
</head>
<body>
    <div class="page">
        <div id="main">
            <h2>パスワードの変更</h2>

            <p>
                パスワードが正常に変更されました。
            </p>
            <div id="footer">
            </div>
        </div>
    </div>
    <script src="/IPQuestion/Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/IPQuestion/Scripts/jquery.validate.min.js" type="text/javascript"></script>
</body>
</html>