@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

<div id="logindisplay">
    ようこそ
    <b>
        @User.Identity.GetUserName()
    </b>
    さん[ <a href="javascript:document.getElementById('logoutForm').submit()">ログオフ</a> ]
</div>
    }
}
else
{
    <div id="logindisplay">
        [ @Html.ActionLink("ログオン", "LogOn", "Account") ]
    </div>
}
